<h1>New Stylist Form</h1>
<form action = "/stylist" method="post">
  <label for ="new-stylist">Stylist Name</label>
  <input id ="new-stylist" name="new-stylist" type="text">
  <button type="submit">Submit</button>
</form>
