@{
  Layout = "_Layout";
}
<div class="container">
  <h1>Welcome to Ahmed's Fab Salon</h1>
<a href="/stylist">View Stylists</a><br>
<a href="/client">View Clients</a><br>
<a href="/specialty">View Specialties</a><br>
</div>
